functions-framework==3.*
google-cloud-secret-manager==2.*
google-cloud-workflows==1.*
google-api-python-client==2.*
google-auth==2.*
requests>=2.31,<3
python-amazon-sp-api>=2.0,<3
python-amazon-ad-api>=0.7,<1
psycopg2-binary==2.*
